[Unit]
Description = nyamcam1 for odekake

[Service]
ExecStart=/usr/bin/python3 /home/USERNAME/Desktop/nyancam.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target